.header {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;
    color: black;
    font-weight: bold;
}

.paragraph {
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    color: black;
}

.hero {
    min-height: 90vh;
    background-image: url("../images/novatech.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    color: black;
}
.header {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;
    color: rgb(156, 3, 3);
    font-weight: bold;
}
.paragraph {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    color: rgb(212, 11, 11);
}
.product {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: x-large;
    color:skyblue;
    font-weight: bold;
}
.feature {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    color: skyblue;
}
.benefit {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    color: skyblue  ;
}
.product-item {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    color: skyblue  ;
}